<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Compare SAP & MySQL';">
    <div class="col-lg-12" ng-controller="MasterDataController">
        
					
					
					
					<div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Master Data Materials</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    
                </div>
            </header>
            <div class="content-body padding-bottom-0">
					<div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                        <div class="tile-counter bg-primary">
                            <div class="content">
                                <i class='fa fa-laptop icon-lg'></i>
                                <h2 count-to="{{ExpectedRecords}}" value="0" duration="1" class="number_counter"></h2>
                                <div class="clearfix"></div>
                                <span>Records In SAP</span>
                            </div>
                        </div>
                    </div>
					
                    <div class="col-lg-3 col-md-4 col-xs-2 col-sm-6">
                        <div  ng-class="{ true : 'tile-counter bg-primary' , false : 'tile-counter bg-danger' } [ExpectedRecords==insertedRow] ">
                            <div class="content">
                                <i class='fa fa-database icon-lg'></i>
                                <h2 count-to="{{insertedRow}}" value="0" duration="1" class="number_counter"></h2>
                                <div class="clearfix"></div>
                                <span>Records In Mysql</span>
                            </div>
                        </div>
                    </div>
					
					<div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
					
					<div style="text-align:-webkit-center">
                                <div class="chart" ui-jq="easyPieChart" ui-options="{
                      easing: 'easeOutBounce',
                      barColor: '{{app.color.accent}}',
                      trackColor: '#f5f5f5',
                      scaleColor: '#eaeaea',
                      lineCap: 'square',
                      lineWidth: 10,
                      size: 120,
                      animate: 1000
                    }">
                                    <div>
                                        <span class="text-primary percent">{{recordSynced}}%</span>
                                    </div>
                                </div>
                                <h4 class="text-center margin-top-10 margin-bottom-10">Records Synced</h4>
                            </div>
					
                    </div>    
						
					<div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
					<table class="table table-striped">
						<thead>
							<tr>
							<th>Status</th>
							<th>Count</th>
							</tr>
						</thead>								
						<tbody>
							<tr>
							<td>All idocs</td>
							<td>{{countAll}} </td>
							</tr>
							<tr>
							<td><i class='fa fa-check-circle icon-success'></i> Synced</td>
							<td>{{countSynced}}</td>
							</tr>
							<tr>
							<td><i class='fa fa-exclamation-circle icon-danger'></i> Not Synced</td>
							<td>{{countNotSynced}}</td>
							</tr>
							<tr>
							<td><i class='fa fa-exclamation-triangle icon-warning'> </i> Pending</td>
							<td>{{countPending}}</td>
							</tr>		
						</table>
						
						
						
					</div>
                    
					
                    <div class="clearfix"></div>
                    
                    
                </div>
            </div>
        </section>
    
	

	
	<div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Details</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
		
			<div class="content-body padding-bottom-0">
                <div class="row">
				
				
				<div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <input id="filter" type="text" class="form-control" placeholder="Search" ng-model="filterText" />
						
						<!-- <input type="text" ng-model="search" class="form-control" placeholder="Search"> -->
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="btn-group margin-bottom-10">
                       <label class="btn btn-primary" ng-click="FilterAll()" >All</label>
                       <label class="btn btn-success" ng-click="FilterOnlySynced()"  >Synced</label>
                       <label class="btn btn-danger" ng-click="FilterOnlyNotSynced()" >Not Synced</label>
					   <label class="btn btn-warning" ng-click="FilterOnlyBoomiPending()" >Pending</label>
                    </div>
					</div>
				</div>
					
					
                    
					
                    <div class="clearfix"></div>
					<br>
					
					<a class="btn btn-circle btn-lg pull-right btn-success" ng-click="exportData()" >CSV    <i class='fa fa-file-excel-o icon-4x' /></a>
					
					
					
					<br />
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-striped" data-filter="#filter" class="table table-striped">
                            <thead>
                                <tr>
                                    <th data-toggle="true">
                                        Idoc Number
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th data-hide="phone,tablet">
                                        Date
                                    </th>
                                    <th data-hide="phone,tablet" >
                                        MATNR
                                    </th>
									<th data-hide="phone">
                                        Status
                                    </th>
									<th data-hide="phone">
                                        Cause
                                    </th>
									<th data-hide="phone">
                                        Error Details
                                    </th>
									
                                    
									
									
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="x in mdRecordsArray| filter: filterText | filter:{ Entry5 : filterResult }|itemsPerPage:10 " >
                                    <td>{{ x.Entry2 }}</td>
									<td>{{ x.Entry3 == "/CCEJ/MATMAS" ? "Material" : x.Entry3 }}</td>
									<td>{{ x.Entry1 }}</td>
									<td>{{ x.Entry4 }}</td>
									
									<td><span ng-class="{1 : 'label label-danger', 0 : 'label label-success' , 3 : 'label label-warning' } [x.Entry5] " >{{ x.Entry5 == 1 ? "Not Synced" :
										 x.Entry5 == 0 ? "synced" :
										 "Pending in Boomi" }}</span></td>
									<td>{{ x.Entry6 }}</td>
									<td>{{ x.Entry7 }}</td>
									
                                </tr>
												<tr >
													<td ng-show="mdRecordsArray.length == 0" colspan="20" style="text-align:center">
														   No Data             
													</td>
												</tr>
                                
                            </tbody>
							
					
                        </table>
						<div>
						<dir-pagination-controls
							   max-size="10"
							   direction-links="true"
							   boundary-links="true"
								> <!-- auto-hide="true" --> 
							</dir-pagination-controls>
							</div>
                    </div>
					
					
            </div>    
            </div>
		
						
						
                    </div>
                </div>
            </div>
        </section>
    </div>
	</div>
</div>
					
					
                    
             
</div>
</div>	