<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Sales Order Per Hour';">
    <div class="col-lg-12" ng-controller="SalesOrderController">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Monitoring Test</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        
						
						 
						 
						 <b>Start Date</b> <input type="date" ng-model="CreationStartDate" style="height:25px" />&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;
						 <b>End Date</b> <input type="date" ng-model="CreationEndDate" style="height:25px" />&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;
  		
  		<!-- <md-datepicker ng-model="DeliveryDate" md-placeholder="Enter date"></md-datepicker> -->
  		 &nbsp;  &nbsp;
  		<button class="btn btn-primary btn-sm" ng-click="postMessage()"   >Call Web Service</button>
		<div class="clearfix"></div>
		<div class="clearfix"></div>
		<br>
  		<br>
		
		<table class="table table-bordered table-striped" >
  		<tr>
  		<td><b>System</b></td>
    	<td><b>Date</b></td>
    	
    	<td><b>00-04</b></td>
    	<td><b>05</b></td>
    	<td><b>06</b></td>
    	<td><b>07</b></td>
    	<td><b>08</b></td>
    	<td><b>09</b></td>
    	<td><b>10</b></td>
    	<td><b>11</b></td>
    	<td><b>12</b></td>
    	<td><b>13</b></td>
    	<td><b>14</b></td>
    	<td><b>15</b></td>
    	<td><b>16</b></td>
    	<td><b>17</b></td>
    	<td><b>18</b></td>
    	<td><b>19</b></td>
    	<td><b>20</b></td>
    	<td><b>21</b></td>
    	<td><b>22</b></td>
    	<td><b>23</b></td>
    	<td><b>Total</b></td>
    	
  		</tr>
  		<tr ng-repeat="x in salesOrderArray   " > <!--  | filter:{Var1: idocNumber } | filter: (syncResultBool === true ? filter2 : '')  | groupBy: 'Var1'   / filter: filter2 -->
    		
    	<td>{{ x[0] }}</td>
    	<td>{{ x[1] }}</td>
    	<td>{{x[2]}}</td>
    	<td>{{x[3]}}</td>
    	<td>{{x[4]}}</td>
    	<td>{{x[5]}}</td>
    	<td>{{x[6]}}</td>
    	<td>{{x[7]}}</td>
    	<td>{{x[8]}}</td>
    	<td>{{x[9]}}</td>
    	<td>{{x[10]}}</td>
    	<td>{{x[11]}}</td>
    	<td>{{x[12]}}</td>
    	<td>{{x[13]}}</td>
    	<td>{{x[14]}}</td>
    	<td>{{x[15]}}</td>
    	<td>{{x[16]}}</td>
    	<td>{{x[17]}}</td>
    	<td>{{x[18]}}</td>
    	<td>{{x[19]}}</td>
    	<td>{{x[20]}}</td>
    	<td>{{x[21]}}</td>
    	<td>{{x[22]}}</td>
    	

  		</tr>
  		</table>
		
                    </div>
                </div>
            </div>
			
			
			<br>
			<br>
			
			
			

			
        </section>
    </div>
</div>	