<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Settlement Details';">
	<div class="col-lg-12" ng-controller="SettlementController" ng-init='load()' >


		
		
	
           
					
					
            
	
		<div class="col-lg-12">
		<div class="col-md-8 col-sm-8 col-xs-8">
		
			<section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Today's Statistics</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    
                </div>
            </header>
			
			 <div class="content-body  padding-top-0">
				<table class="table table-striped">
						<thead>
							<tr>
							<th></th>
							<th></th>
							<th></th>
							</tr>
						</thead>								
						<tbody>
							<tr>
							<td ng-click="filterStatusFunction()" style="cursor: pointer;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';" >Total : {{total}}</td>
							<td ng-click="filterStatusFunction('3')"  style="cursor: pointer;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';" ><i class='fa fa-exclamation-circle icon-danger'></i> Error Sending To SAP : {{errorSentToSap}} </td>
							<td ng-click="filterStatusFunction('2')" style="cursor: pointer;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';" ><i class='fa fa-check-circle icon-success'></i> Sent To SAP : {{sentTopSap}} </td>
							</tr>
							<tr>
							 <td  ></td> 
							<td ng-click="filterStatusFunction('51')" style="cursor: pointer;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';" ><i class='fa fa-exclamation-circle icon-danger'></i> Error In SAP : {{errorInSap}}</td>
							<td ng-click="filterStatusFunction('53')" style="cursor: pointer;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';" ><i class='fa fa-check-circle icon-released'></i> Processed In SAP : {{processed}}</td>
							</tr>
							
							<tr>
							<td ng-click="filterStatusFunction('1')" style="cursor: pointer;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';" ><i class='fa fa-exclamation-triangle icon-warning' ></i> In Progress : {{inProgress}}</td>
							<td ng-click="filterStatusFunction('9')" style="cursor: pointer;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';" ><i class='fa fa-exclamation-triangle icon-warning'></i> Pending In Queue : {{pendingInQueue}}</td>
							<td ng-click="filterStatusFunction('E')" style="cursor: pointer;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';" ><i class='fa fa-exclamation-triangle icon-warning'></i> Pending In Boomi : {{pendingInBoomi}}</td>
							</tr>
								
						</table>
						</div>
        </section>
		
		</div>
		
		<div class="col-md-4 col-sm-4 col-xs-4">
			<div class="r4_counter wid-stats db_box"   ><!-- style="width:30% ;float: right" -->
			<div class='stats-data'>

				<i ng-class="{ true : 'material-icons icon-danger pull-left' , false : 'material-icons icon-success pull-left' } [HokanFilesCount>0] "  >{{  (HokanFilesCount>0) ? "report_problem" : "check_circle" }}</i>
				
				<div class="stats">
					<h3>{{HokanFilesCount}} Files</h3>
					<span> Not Received From Hokan</span>
					
				</div>
				
				
			</div>
			</div>
			
			<div class="col-md-4 col-sm-4 col-xs-4">
			
			
			
			</div>
			
			
            <div class="content-body padding-bottom-20">
                
				
					<h3 style="text-align:center" >Last Update {{ refreshedDate }} </h3>
					<uib-progressbar value="counter" class="progress-striped active" value="dynamic" type="info">Next Refresh...   </uib-progressbar>
						
                    
                    
            </div>
            
			
			
		</div>
		</div>
	
		
		
		<div class="col-lg-12">





			<div class="col-lg-12">
				<section class="box ">
					<header class="panel_header">
						<h2 class="title pull-left">Settlement Details</h2>
						<div class="actions panel_actions pull-right">
							<i class="box_toggle material-icons">expand_more</i>

						</div>
					</header>



					<div class="content-body padding-bottom-15">
						<div class="row">


							<label class="form-label" for="field-1">Select Date</label>
							<div style="width:10%" class="input-group" >

								<input type="text" class="form-control datepicker" max-date="maxDate" datepicker-popup="yyyy/MM/dd" ng-model="dt" is-open="dtpick.opened"  ng-required="true" close-text="Close" ng-click="open($event,'opened')" 
								ng-change="getdate()" />
								<span class="input-group-addon" ng-click="open($event,'opened')">
									<i class="fa fa-calendar" style="color: #999;"/>
								</span>
							</div>




							<div class="col-md-12 col-sm-12 col-xs-12">

								<div class="content-body padding-bottom-0">
									<div class="row">

										<div class="col-md-9 col-sm-12 col-xs-12">


											<input type="text" ng-model="search" class="form-control" placeholder="Search"> 

											</div>
											<div class="clearfix"/>
											<br>
												
												<div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
												<div class="btn-group margin-bottom-10 margin-right-15" style="float:left">
													<label class="btn btn-primary" ng-click="FilterAll()" >All</label>
													<label class="btn btn-warning" ng-click="FilterCorrection()"  >Correction</label>
													<label class="btn btn-success" ng-click="FilterNoCorrection()" >Normal</label>
												</div>
												</div>
												
												<div class="col-lg-4 col-md-3 col-xs-12 col-sm-6">
													<select class="form-control input-lg" ng-model="plantSearch" >
													<option value="">Choose Plant For Filter</option>
														<option>JW63</option>
														<option>JW64</option>
														<option>JW65</option>
														<option>JW66</option>
														<option>JW67</option>
														<option>JW68</option>
														<option>JW69</option>
														<option>JW70</option>
														<option>JW71</option>
														<option>JW72</option>
														<option>JW73</option>
														<option>JW74</option>
														<option>JW75</option>
														<option>JW76</option>
														<option>JW77</option>
														<option>JW78</option>
														<option>JW79</option>
														<option>JW80</option>
														<option>JW81</option>
														<option>JW82</option>
														<option>JW83</option>
														<option>JW84</option>
														<option>JW85</option>
														<option>JW86</option>
														<option>JW87</option>
														<option>JW88</option>
														<option>JW89</option>
														
														<option>JWH9</option>
														<option>JWI1</option>
														<option>JWJ1</option>
														<option>JWJ2</option>
														<option>JWJ3</option>
														
														<!--FVEJ -->
														
														<option>JF06</option>
														<option>JF07</option>
														<option>JF16</option>
														<option>JF17</option>
														
														<option>JF46</option>
														<option>JF47</option>
														<option>JF48</option>
														<option>JF49</option>
														<option>JF50</option>
														<option>JF51</option>
														<option>JF52</option>
														<option>JF53</option>
														<option>JF54</option>
														<option>JF55</option>
														
														
														<option>JFB1</option>
														<option>JFB6</option>
														<option>JFB7</option>
														<option>JFB8</option>
														<option>JFB9</option>
														
														<option>JFBA</option>
														<option>JFBB</option>
														<option>JFBC</option>
														<option>JFBD</option>
														<option>JFBE</option>
														<option>JFBF</option>
														<option>JFBG</option>
														<option>JFBH</option>
														<option>JFBI</option>
														<option>JFBJ</option>
														<option>JFBK</option>
														<option>JFBL</option>
														
														<option>JWJ4</option>
														<option>JWJ5</option>
														<option>JWJ6</option>
														<option>JWJ7</option>
														
														
														
														
														
														
														
													</select>
												</div>

												<div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
												<div class="btn-group margin-bottom-10" style="float:right" >
												<!--
													<label class="btn btn-primary" ng-click="FilterAllStatus()" >All</label>
													<label class="btn btn-success" ng-click="FilterSuccess()"  >Successful</label>
													<label class="btn btn-warning" ng-click="FilterPending()"  >Pending</label>
													<label class="btn btn-danger" ng-click="FilterError()" >Error</label>
													-->
													
													<select class="form-control input-lg" ng-model="StatusSearch" >
														<option value="">Status : All</option>
														<option value="1" >In Progress</option>
														<option value="2">Idoc Sent To SAP</option>
														<option value="3">Error Sending IDoc To SAP</option>
														<option value="51">Error In SAP</option> 
														<option value="53">Processed In SAP</option> 
														<option value="9">Pending In Queue</option>
														<option value="E">Pending In Boomi</option>
													</select>
												</div>
												</div>

												<div class="clearfix"/>
												<br>

													<a class="btn btn-circle btn-lg pull-right btn-success" ng-click="exportData()" >CSV    <i class='fa fa-file-excel-o icon-4x' />
													</a>

													<div class="col-md-12 col-sm-12 col-xs-12 table-responsive">

														<!--
						<table class="table table-striped" ui-jq="footable" data-filter="#filter" data-page-size="10" class="table table-striped">
                            <thead>
                                <tr>
                                    <th data-toggle="true">
                                        Interface Name
                                    </th>
                                    <th>
                                        Records in MYSQL
                                    </th>
                                    <th data-hide="phone,tablet">
                                        File Count
                                    </th>
                                    <th data-hide="phone">
                                        Status
                                    </th>
                                </tr>
                            </thead>
							
                            
							<tbody>
                                <tr  ng-repeat="x in mdRecordsArray " >
                                    <td>{{ x.Entry1 }}</td>
									<td>{{ x.Entry2 }}</td>
									<td>{{ x.Entry3 }}</td>
									<td><span ng-class="{false : 'label label-danger', true : 'label label-success' } [x.Entry2==x.Entry3] " >{{ (x.Entry2!=x.Entry3) ? "Not Synced" : "Synced" }}</span></td>

									
                                </tr>
                                </tr>
                                
                            </tbody>
							
                            <tfoot class="hide-if-no-paging">
                                <tr>
                                    <td colspan="10" class="text-center">
                                        <ul class="pagination"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
						-->

														<table class="table table-striped" data-filter="#filter" class="table table-striped">
															<thead>
																<tr>
																	
																	<th>
                                        Route
																	</th>
																	<th >
                                        Plant
																	</th>
																	<th >
                                        Date
																	</th>
																	<th >
                                        FileName
																	</th>
																	<th >
                                        Status
																	</th>
																	<th >
                                        Idoc Num
																	</th>
																	<th >
                                        Received Date
																	</th>
																	<th >
                                        Start Processing
																	</th>
																	<th >
                                        End_Processing
																	</th>
																	<th >
                                        Last Update
																	</th>
																	
																	<th >
                                        Correction
																	</th>
																	<!--
																	<th >
                                        Error Details
																	</th>
																-->



																</tr>
															</thead>

															<tbody>
																<tr    dir-paginate="x in SettlementList | filter:search | filter:{ Entry3 : plantSearch } | filter:{ Entry10 : filterCorrection } | filter: (!!StatusSearch || undefined) && { Entry8 : StatusSearch } : true| itemsPerPage:10  "  data-user-id="{{x.Entry1}}">
																	
																	<td>{{ x.Entry2 }}</td>
																	<td>{{ x.Entry3 }}</td>
																	<td>{{ x.Entry4 }}</td>
																	<td>{{ x.Entry11 }}</td>

																	<td>
																		<span ng-class="{'1' : 'label label-warning', '2' : 'label label-success' , 
															'3' : 'label label-danger' , '51' : 'label label-danger' , '53' : 'label label-released' , '9' : 'label label-warning' , 'E' : 'label label-warning' } [x.Entry8] " >
														{{ (x.Entry8=='1') ? "In progress" : 
														   (x.Entry8=='2') ? "Idoc Sent" :
														   (x.Entry8=='3') ? "Error Sending Idoc" :
														   (x.Entry8=='53') ? "Processed" :
														   (x.Entry8=='51') ? "Error SAP" :
														   (x.Entry8=='9') ? "Pending In queue" :
														   "Pending In Boomi"
														   }}
																		</td>
																		<td>{{ x.Entry15 }}</td>
																		<td>
																		{{ x.formattedDate2 }}
																		</td>
																		<td>
																		{{ x.formattedDate3 }}
																		</td>
																		<td>
																		{{ x.formattedDate4 }}
																		</td>
																		<td>
																		{{ x.formattedDate }}
																		</td>
																		<td>
																			<span ng-class="{ true : 'label label-warning' } [x.Entry10==''] " >
														{{ (x.Entry10==1) ? "Corrected" : "--" }}
																			</td>
																			
																			<!--<td >{{ x.Entry13 }}</td>
																			
														<td>{{ x.Entry8 | date }}</td> -->







																		</tr>
																		<tr >
																			<td ng-show="SettlementList.length == 0" colspan="20" style="text-align:center">
														   No Data             
																			</td>
																		</tr>

																	</tbody>


																</table>

																<div>
																	<dir-pagination-controls
							   max-size="10"
							   direction-links="true"
							   boundary-links="true"
								 >
																	</dir-pagination-controls>

																</div>
															</div>



														</div>    
													</div>



												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>




					</div>
				</div>	