<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Shipment Details';">
	<div class="col-lg-12" ng-controller="ShipmentDetailsController" ng-init='load()' >

			<div class="text-center" ng-show="showLoading">
			<i class="fa fa-spinner fa-pulse fa-3x"></i>
			</div>
	
		<div class="col-md-12 col-sm-12 col-xs-12 padding-right-30 padding-left-20">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
                    <div class="r4_counter wid-stats db_box">
                        <div class='stats-data'>
                            
                            <i class="material-icons icon-primary pull-left">check_box_outline_blank</i>
                            <div class="stats">
                                <h3 count-to="{{totalNumberOfIdocs}}" value="0" duration="1" />
                                <span>Total Count Of Idocs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
                    <div class="r4_counter wid-stats db_box">
                        <div class='stats-data'>
                            <i class="material-icons icon-warning pull-left">forward</i>
                            <div class="stats">
                                <h3 count-to="{{rushOrderNumber}}" value="0" duration="1" class="number_counter" ></h3>
                                <span>Rush Order</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
                    <div class="r4_counter wid-stats db_box">
                        <div class='stats-data'>
                            <i class="material-icons icon-success pull-left">check_circle</i>
                            <div class="stats">
                                <h3 count-to="{{sentNumber}}" value="0" duration="1" class="number_counter"></h3>
                                <span>Shipment Sent</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
                    <div class="r4_counter wid-stats db_box">
                        <div class='stats-data'>
                            
                            <i class="material-icons icon-danger pull-left">error</i>
                            <div class="stats">
                                <h3 count-to="{{notSentNumber}}" value="0" duration="1" class="number_counter" ></h3>
                                <span>Shipment Not Sent</span>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        


		<div class="col-lg-12">
		<!--
			<section class="box ">
				<header class="panel_header">
					<h2 class="title pull-left">Statistics</h2>
					<div class="actions panel_actions pull-right">
						<i class="box_toggle material-icons">expand_more</i>
						
					</div>
				</header>
				<div class="content-body padding-bottom-0">
					<div class="row" >
						<div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
							<div class="tile-counter bg-primary">
								<div class="content">
									<i class='fa fa-file-o icon-lg'/>
									<h2 count-to="{{totalNumberOfIdocs}}" value="0" duration="1" class="number_counter"/>
									<div class="clearfix"/>
									<span>Total Count Of Idocs</span>
                            </div></span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
							<div class="tile-counter bg-warning">
								<div class="content">
									<i class='fa fa-exclamation icon-lg'/>
									<h2 count-to="{{rushOrderNumber}}" value="0" duration="1" class="number_counter"/>
									<div class="clearfix"/>
									<span>Rush Order</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
							<div class="tile-counter bg-success">
								<div class="content">
									<i class='fa fa-share icon-lg'/>
									<h2 count-to="{{sentNumber}}" value="0" duration="1" class="number_counter"/>
									<div class="clearfix"/>
									<span>Shipment Sent</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
							<div class="tile-counter bg-accent">
								<div class="content">
									<i class='fa fa-ban icon-lg'/>
									<h2 count-to="{{notSentNumber}}" value="0" duration="1" class="number_counter"/>
									<div class="clearfix"/>
									<span>Shipment Not Sent</span>
								</div>
							</div>
						</div>
						<div class="clearfix"/>




					</div>
				</div>
			</section>
			-->



			<div class="col-lg-12">
				<section class="box ">
					<header class="panel_header">
						<h2 class="title pull-left">Shipment Details</h2>
						<div class="actions panel_actions pull-right">
							<i class="box_toggle material-icons">expand_more</i>

						</div>
					</header>



					<div class="content-body padding-bottom-15">
						<div class="row">


							<label class="form-label" for="field-1">Select Date</label>
							<div style="width:10%" class="input-group" >

								<input type="text" class="form-control datepicker"  datepicker-popup="yyyy/MM/dd" ng-model="dt" is-open="dtpick.opened"  ng-required="true" close-text="Close" ng-click="open($event,'opened')" 
								ng-change="getMonth()" />
								<span class="input-group-addon" ng-click="open($event,'opened')">
									<i class="fa fa-calendar" style="color: #999;"/>
								</span>
							</div>




							<div class="col-md-12 col-sm-12 col-xs-12">

								<div class="content-body padding-bottom-0">
									<div class="row">
										<input type="text" ng-model="search" class="form-control" placeholder="Search">
										
										<div class="col-md-9 col-sm-12 col-xs-12">

											</div>
											<div class="clearfix"/>
											<br>
											
												<div class="col-lg-4 col-md-3 col-xs-12 col-sm-6">
												<div class="btn-group margin-bottom-10 margin-right-15" style="float:left">
													<label class="btn btn-primary" ng-click="FilterAll()" >All</label>
													<label class="btn btn-warning" ng-click="FilterRushOrder()"  >Rush Order</label>
													<label class="btn btn-success" ng-click="FilterNormalOrder()" >Normal Order</label>
												</div>
												</div>
												

												<div class="col-lg-4 col-md-3 col-xs-12 col-sm-6">
													<select class="form-control input-lg" ng-model="plantSearch" >
													<option value="">Choose Plant For Filter</option>
														<option>JW63</option>
														<option>JW64</option>
														<option>JW65</option>
														<option>JW66</option>
														<option>JW67</option>
														<option>JW68</option>
														<option>JW69</option>
														<option>JW70</option>
														<option>JW71</option>
														<option>JW72</option>
														<option>JW73</option>
														<option>JW74</option>
														<option>JW75</option>
														<option>JW76</option>
														<option>JW77</option>
														<option>JW78</option>
														<option>JW79</option>
														<option>JW80</option>
														<option>JW81</option>
														<option>JW82</option>
														<option>JW83</option>
														<option>JW84</option>
														<option>JW85</option>
														<option>JW86</option>
														<option>JW87</option>
														<option>JW88</option>
														<option>JW89</option>
														
														<option>JWH9</option>
														<option>JWI1</option>
														<option>JWJ1</option>
														<option>JWJ2</option>
														<option>JWJ3</option>
														
														<!--FVEJ -->
														
														<option>JF06</option>
														<option>JF07</option>
														<option>JF16</option>
														<option>JF17</option>
														
														<option>JF46</option>
														<option>JF47</option>
														<option>JF48</option>
														<option>JF49</option>
														<option>JF50</option>
														<option>JF51</option>
														<option>JF52</option>
														<option>JF53</option>
														<option>JF54</option>
														<option>JF55</option>
														
														
														<option>JFB1</option>
														<option>JFB6</option>
														<option>JFB7</option>
														<option>JFB8</option>
														<option>JFB9</option>
														
														<option>JFBA</option>
														<option>JFBB</option>
														<option>JFBC</option>
														<option>JFBD</option>
														<option>JFBE</option>
														<option>JFBF</option>
														<option>JFBG</option>
														<option>JFBH</option>
														<option>JFBI</option>
														<option>JFBJ</option>
														<option>JFBK</option>
														<option>JFBL</option>
														
														<option>JWJ4</option>
														<option>JWJ5</option>
														<option>JWJ6</option>
														<option>JWJ7</option>
														
														
														
														
														
														
														
													</select>
												</div>
												
												<div class="col-lg-4 col-md-3 col-xs-12 col-sm-6">
												<div class="btn-group margin-bottom-10" style="float:right" >
													<label class="btn btn-primary" ng-click="FilterAllStatus()" >All</label>
													<label class="btn btn-success" ng-click="FilterOnlySent()"  >Sent</label>
													<label class="btn btn-danger" ng-click="FilterOnlyNotSent()" >Not Sent</label>
												</div>
												</div>

												<div class="clearfix"/>
												<br>

													<a class="btn btn-circle btn-lg pull-right btn-success" ng-click="exportData()" >CSV    <i class='fa fa-file-excel-o icon-4x' />
													</a>

													<div class="col-md-12 col-sm-12 col-xs-12 table-responsive">

														<!--
						<table class="table table-striped" ui-jq="footable" data-filter="#filter" data-page-size="10" class="table table-striped">
                            <thead>
                                <tr>
                                    <th data-toggle="true">
                                        Interface Name
                                    </th>
                                    <th>
                                        Records in MYSQL
                                    </th>
                                    <th data-hide="phone,tablet">
                                        File Count
                                    </th>
                                    <th data-hide="phone">
                                        Status
                                    </th>
                                </tr>
                            </thead>
							
                            
							<tbody>
                                <tr  ng-repeat="x in mdRecordsArray " >
                                    <td>{{ x.Entry1 }}</td>
									<td>{{ x.Entry2 }}</td>
									<td>{{ x.Entry3 }}</td>
									<td><span ng-class="{false : 'label label-danger', true : 'label label-success' } [x.Entry2==x.Entry3] " >{{ (x.Entry2!=x.Entry3) ? "Not Synced" : "Synced" }}</span></td>

									
                                </tr>
                                </tr>
                                
                            </tbody>
							
                            <tfoot class="hide-if-no-paging">
                                <tr>
                                    <td colspan="10" class="text-center">
                                        <ul class="pagination"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
						-->

														<table class="table table-striped" data-filter="#filter" class="table table-striped">
															<thead>
																<tr>
																	<th data-toggle="true">
                                        Idoc Number
																	</th>
																	<!--
														<th>
                                        Sales Order Number
														</th>
														-->
																	<th >
                                        Line Item Count
																	</th>
																	<th >
                                        Proformat Number
																	</th>

																	<th>
                                        Delivery Date
																	</th>	
																	<th>
                                        Plant
																	</th>
																	<th>
                                        Route Code
																	</th>

																	<th>
                                        CMCRC_PLNT
																	</th>
																	<th>
										CMCRC_RT
																	</th>
																	<th>
                                        Driver
																	</th>
																	<th>
                                        sales Order NO
																	</th>


																	<th >
                                        Type
																	</th>
																	<!--
																	<th >
                                        Last Update
																	</th>
																	-->
																	<th >
                                        Status
																	</th>




																</tr>
															</thead>


															<tbody>
																<tr    dir-paginate="x in truckStockList | filter:search | filter:plantSearch | filter:{ Entry5 : filterRush } | filter:{ Entry6 : filterStatus } |itemsPerPage:10  "  data-user-id="{{x.Entry1}}">
																	<td>{{ x.Entry1 }}</td>
																	<!-- <td>{{ x.Entry2 }}</td> -->
																	<td>{{ x.Entry3 }}</td>
																	<td>{{ x.Entry4 }}</td>
																	<td>{{ x.Entry7 }}</td>

																	<td>{{ x.Entry12 }}</td>
																	<td>{{ x.Entry13 }}</td>
																	<td>{{ x.Entry8 }}</td>
																	<td>{{ x.Entry9 }}</td>
																	<td>{{ x.Entry10 }}</td>
																	<td>{{ x.Entry11 }}</td>
																	

																	<td>
																		<span ng-class="{false : 'label label-warning', true : 'label label-success' } [x.Entry5=='N'] " >
														{{ (x.Entry5=='N') ? "Normal Order" : "Rush Order" }}
																		</td>
																		
																		<!-- <td>{{ x.formattedDate }}</td> -->
																		
																		<td>
																			<span ng-class="{false : 'label label-danger', true : 'label label-success' } [x.Entry6==1] " >
														{{ (x.Entry6=='1') ? "Sent" : "Not Sent" }}
																			</td>
																			<!--
														<td>{{ x.Entry8 | date }}</td> -->






																		</tr>
																	</tr>

																</tbody>


															</table>

															<div>
																<dir-pagination-controls
							   max-size="10"
							   direction-links="true"
							   boundary-links="true"
								 >
																</dir-pagination-controls>

															</div>
														</div>



													</div>    
												</div>



											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>




				</div>
			</div>	