<div class="modal-header">
    <h3 class="modal-title">Transactin ID : {{ soObject.Entry1 }}</h3>
</div>
<div class="modal-body">

		{{Records.Entry1}}
		{{Records.Entry2}}
		{{Records.Entry3}}
		
		
		<!--
    <ul>
        <li ng-repeat="item in items">
            <a style="cursor:pointer;" ng-click="selected.item = item">{{ item }}</a>
        </li>
    </ul>
    Selected: <b>{{ selected.item }}</b>
	
		-->
</div>
<div class="modal-footer">                  
    
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>