<!-- list -->
<ul class="wraplist wrapper-menu">
   
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">Dashboard</span>
        </a>
    </li>
	
	
	<li href class="auto"> 
                            <a href="javascript:;">
                                <i class="material-icons">view_agenda</i>
                                <span class="title">Master Data</span>
                                <span class="arrow material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
							
							
                                <li ui-sref-active="active">
                                    <a>MD Materials<span class="arrow material-icons">keyboard_arrow_right</span></a>
                                    <ul class="wraplist wraplist-sub sub-menu dk" >

                                        <li ui-sref-active="active">
                                            <a ui-sref="app.tables.md1" >Daily</a>
                                        </li>
                                        <li ui-sref-active="active">
                                    <a ui-sref="app.tables.MaterialPreviousDay">Previous Day</a>
                                </li>
                                    </ul>
                                </li>
								
								<li ui-sref-active="active">
                                    <a>MD Customer<span class="arrow material-icons">keyboard_arrow_right</span></a>
                                    <ul class="wraplist wraplist-sub sub-menu dk" >

                                        <li ui-sref-active="active">
                                            <a ui-sref="app.tables.customer1" >Daily</a>
                                        </li>
                                        <li ui-sref-active="active">
                                    <a ui-sref="app.tables.CustomerPreviousDay">Previous Day</a>
                                </li>
                                    </ul>
                                </li>
								
								<li ui-sref-active="active">
                                    <a>MD pricing<span class="arrow material-icons">keyboard_arrow_right</span></a>
                                    <ul class="wraplist wraplist-sub sub-menu dk" >

                                        <li ui-sref-active="active">
                                            <a ui-sref="app.tables.pricing" >Daily (SAP-MySQL)</a>
                                        </li>
                                        <li ui-sref-active="active">
                                    <a ui-sref="app.tables.pricingPreviousDay">Previous Day (SAP-MySQL)</a>
                                </li>
								<!--
								<li ui-sref-active="active">
                                    <a ui-sref="app.tables.pricingBolton">Compare With Bolton</a>
                                </li>
								-->
								
								<li ui-sref-active="active">
                                    <a ui-sref="app.tables.priceValidation">Price Validation</a>
                                </li>
								<li ui-sref-active="active">
                                    <a ui-sref="app.tables.GuardRrail">GuardRail (Pricing Tool/SAP)</a>
                                </li>
								
								<li ui-sref-active="active">
                                    <a ui-sref="app.tables.overlap">Emergency (Pricing Tool/SAP)</a>
                                </li>
								
								<li ui-sref-active="active">
                                    <a ui-sref="app.tables.EmergencyOverlap">Emergency Overlap (Pricing Tool/SAP)</a>
                                </li>
								
                                    </ul>
                                </li>
								
								<!--
								<li ui-sref-active="active">
                                    <a>MD Customers<span class="arrow material-icons">keyboard_arrow_right</span></a>
                                    <ul class="wraplist wraplist-sub sub-menu dk" >

                                        <li ui-sref-active="active">
                                            <a ui-sref="app.tables.customer1" >SAP & MySQL</a>
                                        </li>
                                        <li ui-sref-active="active">
                                            <a ui-sref="app.tables.customer2" >MySQL & Bolton</a>
                                        </li>
                                    </ul>
                                </li>
								

								<li ui-sref-active="active">
                                    <a ui-sref="app.tables.md1">MD Materials</a>
                                </li>
								
								
								<li ui-sref-active="active">
                                    <a ui-sref="app.tables.customer1" >MD Customer</a>
                                </li>
								
								
								<li ui-sref-active="active">
                                            <a ui-sref="app.tables.pricing" >Pricing</a>
                                        </li>
										
										
								
								<li ui-sref-active="active">
                                    <a ui-sref="app.dashboard">MD Equipments</a>
                                </li>
								
								-->
								
								<li ui-sref-active="active">
                                    <a>MD Equipments<span class="arrow material-icons">keyboard_arrow_right</span></a>
                                    <ul class="wraplist wraplist-sub sub-menu dk" >

                                        <li ui-sref-active="active">
                                            <a ui-sref="app.tables.equipment" >Daily</a>
                                        </li>
                                        <li ui-sref-active="active">
                                    <a ui-sref="app.tables.EquipmentPreviousDay">Previous Day</a>
                                </li>
                                    </ul>
                                </li>
								
								
								<li ui-sref-active="active">
                                            <a ui-sref="app.tables.md2" >Compare MySQL & Bolton</a>
                                </li>
								
								
								
								
							<!--	
								
								
								<li ui-sref-active="active">
                                    <a>MD Pricing<span class="arrow material-icons">keyboard_arrow_right</span></a>
                                    <ul class="wraplist wraplist-sub sub-menu dk" >

                                        <li ui-sref-active="active">
                                            <a ui-sref="app.tables.pricing" >SAP & MySQL</a>
                                        </li>
                                        <li ui-sref-active="active">
                                            <a ui-sref="app.tables.md2" >MySQL & Bolton</a>
                                        </li>
                                    </ul>
                                </li>
								
							-->	
                                
                                
                            </ul>
                        </li>
    </li>
	
	
	
	
	<li href class="auto"> 
                            <a href="javascript:;">
                                <i class="material-icons">content_paste</i>
                                <span class="title">Sales order</span>
                                <span class="arrow material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
							<li ui-sref-active="active">
                                    <a ui-sref="app.tables.salesOrderDashboard">SO Dashboard</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.test">SO Per Hour</a>
                                </li>							
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.salesOrderStatus">SO Status</a>
                                </li>
								<!--
								<li ui-sref-active="active">
                                    <a ui-sref="app.tables.salesOrderByPlant">SO By Plant</a>
                                </li>
								-->
                            </ul>
    </li>
	
	<li href class="auto"> 
                            <a href="javascript:;">
                                <i class="material-icons">apps</i>
                                <span class="title">Settlement</span>
                                <span class="arrow material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.SettlementDetails">Details</a>
                                </li>							
                           
                            </ul>
    </li>
	
	<li href class="auto"> 
                            <a href="javascript:;">
                                <i class="material-icons">local_shipping</i>
                                <span class="title">Truck Stock</span>
                                <span class="arrow material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                    						
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.TruckStock">Details</a>
                                </li>
                            </ul>
    </li>
	
	<!--
	
	<li href class="auto"> 
                            <a href="javascript:;">
                                <i class="material-icons">apps</i>
                                <span class="title">Shipment</span>
                                <span class="arrow material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                    						
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.salesOrderStatus">...</a>
                                </li>
                            </ul>
    </li>
	-->
	
	
	<li href class="auto"> 
                            <a href="javascript:;">
                                <i class="material-icons">local_shipping</i>
                                <span class="title">Shipment</span>
                                <span class="arrow material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.shipmentIdocs">Idocs Compare</a>
                                </li>							
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.shipmentDetails">Details</a>
                                </li>
                            </ul>
    </li>
	
	
	
	<li href class="auto"> 
                            <a href="javascript:;">
                                <i class="material-icons">apps</i>
                                <span class="title">Load Inbound</span>
                                <span class="arrow material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                    						
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.LoadInboundDetails">Details</a>
                                </li>
                            </ul>
    </li>
	
	<!--
	<li ui-sref-active="active">
                                    <a ui-sref="app.tables.login">Login</a>
                                </li>
	-->
						
	
	

                       
						
						



</ul>
<!-- / list -->
