<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Smart Table';">
    <div class="col-lg-12" ng-controller="MasterDataController">
        
			
			
                
			
            
                    <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                        <div class="tile-counter bg-primary">
                            <div class="content">
                                <i class='fa fa-thumbs-up icon-lg'></i>
                                <h2 count-to="5000" value="1" duration="8" class="number_counter"></h2>
                                <div class="clearfix"></div>
                                <span>People liked it !</span>
                            </div>
                        </div>
                    </div>
					
                    <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                        <div class="tile-counter bg-primary">
                            <div class="content">
                                <i class='fa fa-heart icon-lg'></i>
                                <h2 count-to="{{countTo}}" value="{{countFrom}}" duration="8" class="number_counter"></h2>
                                <div class="clearfix"></div>
                                <span>Loved your post !</span>
                            </div>
                        </div>
                    </div>
					
                    
             
</div>
</div>	